@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

.hidden {
  display: none;
  opacity: 0;
}

.fadeout {
  -webkit-transition: opacity 1.5s 3s;
  transition: opacity 1.5s 3s;
  opacity: 0;
}

.fadein {
  -webkit-animation: fadein 1s forwards;
          animation: fadein 1s forwards;
}

#title_bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #000;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#title_bg #loader {
  color: #ffffff;
  font-size: 24px;
}

.modal {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  z-index: 999;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: fadein 1s;
          animation: fadein 1s;
}

.modal_content {
  background-color: #fff;
  color: #333333;
  padding: 20px;
  position: relative;
}

.modal_content .modal_close {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ff0000;
}

body {
  min-height: 100%;
  background: #000;
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  color: #ffffff;
}

header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
}

header .header_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header_left_title {
  margin-left: 20px;
}

header .header_left_title h1 {
  display: -ms-grid;
  display: grid;
  font-size: 24px;
}

header .header_left_title h1 span {
  font-size: 15px;
}

header nav {
  margin-left: auto;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

header nav ul li:not(:last-child) {
  margin-right: 20px;
}

header nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

footer {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.8);
}

footer p {
  color: #ffffff;
  font-size: 12px;
}

footer i {
  margin: 0 10px 10px;
  font-size: 30px;
  color: #ffffff;
  font-weight: 900;
}

section.bg_video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

section.bg_video video {
  width: 100%;
  height: 100%;
}

section.bg_video:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: radial-gradient(#111 30%, transparent 31%), radial-gradient(#111 30%, transparent 31%);
  background-size: 4px 4px;
  background-position: 0 0, 2px 2px;
}

main {
  text-align: center;
  position: relative;
  color: #ffffff;
}
/*# sourceMappingURL=style.css.map */