@import 'mixin';
@import 'fonts';

.live_form{
  .input-area{
    @include pc {
      width: 50%;
      margin: 0 auto;
    }
    label{
      display: block;
      margin-bottom: .5rem;
      @include pc {
        font-size: 1.4rem;
      }
      @include sp {
        font-size: 1.2rem;
      }
    }
    input[type="text"]{
      width: 100%;
      font-size: 1.6rem;
      outline: none;
    }
    textarea{
      width: 100%;
      height: 20em;
      font-size: 1.6rem;
      outline: none;
      resize: none;
    }
    input[type="date"]{
      width: 50%;
      font-size: 1.6rem;
      outline: none;
    }
    input[type="time"]{
      width: 50%;
      font-size: 1.6rem;
      outline: none;
    }
    & + .input-area{
      margin-top: 3rem;
    }
    input[type="file"]{
      outline: none;
    }

    .image-file{
      &-form{
        display: flex;
        justify-content: space-between;
        label{
          display: flex;
          overflow: hidden;
          justify-content: center;
          border: 1px solid #fff;
          height: 300px;
          width: calc(50% - 10px);
          transition: all .5s;
          svg{
            fill: #ffffff;
            transition: all .5s;
          }
          cursor: pointer;
          &:hover{
            background-color: #fff;
            color: #333333;
            svg{
              fill: #333333;
            }
          }
        }
      }
      &-field{
        display: none;
      }
      &-add{
        align-self: center;
        svg{
          width: 40px;
          margin: 10px;
          fill: #ffffff;
        }
      }
    }
  }
  .add-details{
    @include pc {
      width: 50%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      &-btn{
        max-width: 250px;
        border: 1px solid #fff;
        text-align: center;
        border-radius: 100px;
        overflow: hidden;
        background-color: transparent;
        width: 250px;
        cursor: pointer;
        @include pc {
          font-size: 1.4rem;
        }
        @include sp {
          font-size: calcvw(24);
        }
        display: block;
        padding: 1rem;
        color: #fff;
        @include pc {
          cursor: pointer;
          transition: opacity .5s;
          &:hover{
            opacity: 0.7;
          }
        }
      }
    }
  }
  .page-bottom-btns{
    @include pc {
      padding-bottom: 4rem;
    }
    @include sp {
      padding-bottom: calcvw(40);
    }
    .btns{
      display: flex;
      align-items: center;
      justify-content: center;
      @include pc {
        margin-top: 8rem;
      }
      @include sp {
        margin-top: calcvw(120);
      }
      .btn{
        width: 40%;
        max-width: 250px;
        @include pc {
          cursor: pointer;
          transition: opacity .5s;
          &:hover{
            opacity: 0.7;
          }
        }
        &:nth-child(2){
          margin-left: 20px;
        }
        // .cancel{
        //   border: 1px solid #fff;
        //   text-align: center;
        //   border-radius: 100px;
        //   overflow: hidden;
        //   background-color: transparent;
        //   width: 250px;
        //   cursor: pointer;
        //   @include pc {
        //     font-size: 1.4rem;
        //   }
        //   @include sp {
        //     font-size: calcvw(24);
        //   }
        //   display: block;
        //   padding: 1rem;
        //   fill: #fff;
        // }
        .submit{
          border: 1px solid #fff;
          color: #333;
          text-align: center;
          border-radius: 100px;
          overflow: hidden;
          background-color: #fff;
          width: 250px;
          cursor: pointer;
          @include pc {
            font-size: 1.4rem;
          }
          @include sp {
            font-size: calcvw(24);
          }
          display: block;
          background-color: #fff;
          padding: 1rem;
          color: #333;
        }
      }
    }
  }
}