@import 'mixin';
@import 'fonts';
@import 'animations';

.live_form{
  .input-area{
    @include pc {
      width: 50%;
      margin: 0 auto;
    }
    label{
      display: block;
      margin-bottom: .5rem;
      @include pc {
        font-size: 1.4rem;
      }
      @include sp {
        font-size: 1.2rem;
      }
    }
    &.open_start{
      display: flex;
      .time{
        width: 50%;
      }
    }
    input[type="text"]{
      width: 100%;
      font-size: 1.6rem;
      outline: none;
    }
    textarea{
      width: 100%;
      height: 20em;
      font-size: 1.6rem;
      outline: none;
      resize: none;
    }
    input[type="date"]{
      width: 50%;
      font-size: 1.6rem;
      outline: none;
    }
    input[type="time"]{
      width: 90%;
      font-size: 1.6rem;
      outline: none;
    }
    & + .input-area{
      margin-top: 3rem;
    }
    input[type="file"]{
      outline: none;
    }

    .image-file{
      display: flex;
      justify-content: space-between;
      &-field{
        width: calc(50% - 10px);
        position: relative;
        .add-btn{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          min-height: 200px;
          svg{
            width: 2rem;
            margin: 10px;
            fill: $text_color1;
          }
          @include pc{
            cursor: pointer;
            transition: all .5s;
            &:hover{
              background-color: $primal_color;
              svg{
                animation: blinker 1s linear infinite alternate;
              }
            }
          }
        }
      }
      .thumb{
        display: flex;
        overflow: hidden;
        position: absolute;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 200px;
        border: 1px solid #fff;
        background-color: transparent;
      }
      .btns{
        display: flex;
        justify-content: space-around;
        margin-top: .5rem;
        .swap-btn, .delete-btn{
          svg{
            width: 2em;
            fill: $text_color1;
          }
          &:hover{
            animation: blinker 1s linear infinite alternate;
          }
        }
      }
    }
  }
  .detail-area{
    padding: 1rem 0;
    margin-top: 2rem;
    border-top: 1px solid #dddddd;
    &-item{
      border-bottom: 1px solid #dddddd;
      margin-bottom: 1rem;
      width: 100%;
      animation: fadeIn .5s;
      transform-origin: top;
      transition: all .2s;
    }
  }
  .delete-details{
    display: flex;
    margin: 2rem auto;
    fill: $text_color1;
    width: 24px;
    @include pc{
      cursor: pointer;
      &:hover{
        animation: blinker 1s linear infinite alternate;
      }
    }
  }
  .add-details{
    width: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    .add-btn{
      border: 2px solid #fff;
      text-align: center;
      border-radius: 50%;
      overflow: hidden;
      background-color: transparent;
      display: block;
      color: #fff;
      padding: 2px;
      svg{
        fill: $text_color1;
        width: 1.5rem;
        height: 1.5rem;
      }
      cursor: pointer;
      @include pc {
        font-size: 1.4rem;
      }
      @include sp {
        font-size: calcvw(24);
      }
      @include pc {
        cursor: pointer;
        transition: opacity .5s;
        &:hover{
          opacity: 0.7;
        }
      }
    }
  }
  .page-bottom-btns{
    @include pc {
      padding-bottom: 4rem;
    }
    @include sp {
      padding-bottom: calcvw(40);
    }
    .btns{
      display: flex;
      align-items: center;
      justify-content: center;
      @include pc {
        margin-top: 8rem;
      }
      @include sp {
        margin-top: calcvw(120);
      }
      .btn{
        width: 40%;
        max-width: 250px;
        @include pc {
          cursor: pointer;
          transition: opacity .5s;
          &:hover{
            opacity: 0.7;
          }
        }
        &:nth-child(2){
          margin-left: 20px;
        }
        .submit{
          border: 1px solid #fff;
          color: #333;
          text-align: center;
          border-radius: 100px;
          overflow: hidden;
          background-color: #fff;
          cursor: pointer;
          width: 100%;
          display: block;
          padding: 1rem;
          -webkit-appearance: none;
          @include pc {
            font-size: 1.4rem;
          }
          @include sp {
            font-size: calcvw(24);
          }
        }
        .cancel{
          border: 1px solid #fff;
          text-align: center;
          border-radius: 100px;
          background-color: transparent;
          color: $text_color1;
          width: 100%;
          @include pc {
            font-size: 1.4rem;
          }
          @include sp {
            font-size: calcvw(24);
          }
          display: block;
          padding: 1rem;
        }
      }
    }
  }
  .hidden-field{
    display: none;
  }
}