@import 'animations';
@import 'mixin';
@import 'fonts';

.hidden{
  display: none;
  opacity: 0;
}
.fadeout{
  transition: opacity 1.5s 2s;
  opacity: 0;
}
.fadein{
  animation: fadeIn 1s forwards;
}

// #title_bg{
//   position: fixed;
//   width: 100%;
//   height: 100%;
//   top: 0;
//   left: 0;
//   z-index: 999;
//   background-color: $background;
//   color: $text_color1;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   &.hidden{
//     display: none;
//     opacity: 0;
//   }
//   #loader{
//     color: $text_color1;
//     font-size: 2rem;
//     display: flex;
//     align-items: center;
//     margin-top: 2rem;
//     .spinner{
//       border: 5px solid $primal_color;
//       border-top: 5px solid $text_color1;
//       border-radius: 50%;
//       width: 20px;
//       height: 20px;
//       margin-left: 10px;
//       animation: spin 2s linear infinite;
//     }
//   }
// }

body{
  min-height: 100%;
  background: $background;
}

.main_page{
  width: 100%;
}

.wrapper{
  width: 100%;
  header{
    width: 100%;
    display: flex;
    background-color: $background;
    align-items: center;
    z-index: 10;
    color: $text_color1;
    top: 0;
    left: 0;
    position: fixed;
    @include pc{
      padding: 10px 5%;
    }
    .header_logo{
      fill: $text_color1;
      @include pc{
        height: 100px;
        width: 212px;
      }
      @include sp{
        height: 70px;
        width: 150px;
        transform: translateX(-45px);
        path.guitar{
          display: none;
        }
      }
    }
    nav{
      margin-left: auto;
      animation: fadeIn 1s;
      ul{
        display: flex;
        list-style-type: none;
        transition-duration: 0.5s;
        li{
          position: relative;
          &:nth-child(1){
            transform: rotate(-3deg);
          }
          &:nth-child(2){
            transform: rotate(8deg);
          }
          &:nth-child(3){
            transform: rotate(-6deg);
          }
          &:nth-child(4){
            transform: rotate(3deg);
          }
          &:hover{
            transform: scale(1.2) rotate(0);
            transition: .5s all;
            cursor: pointer;
          }
          &:not(:last-child){
            margin-right: 50px;
          }
          @include pc{
            svg{
              height: 25px;
            }
          }
          @include sp{
            svg{
              height: 25px;
              transform: scale(0.5);
            }
            &:not(:last-child){
              margin-right: 10px;
            }
          }
          &.current{
            pointer-events: none;
            transform: scale(1.2) rotate(0);
            &:before{
              content: '';
              position: absolute;
              bottom: -2px;
              left: 0;
              height: 1px;
              width: 100%;
              background-color: #5c5c5c;
            }
            svg{
              path{
                fill: #5c5c5c;
              }

            }
          }
        }
      }
    }
  }
  
  footer{
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: $background;
    position: fixed;
    bottom: 0;
    p{
      color: $text_color1;
      font-size: 12px;
    }
    i{
      margin: 0 10px 10px;
      font-size: 30px;
      color: #ffffff;
      font-weight: 900;
    }
  }
  
  main{
    text-align: center;
    color: $text_color1;
    background-color: $background;
    .slides{
      .slide-1{
        height: 100vh;
        width: 100%;
        margin: 0 auto;
        position: relative;
        @include pc{
          width: 90%;
        }
        @include sp{
          width: 100%;
        }
        img{
          position: absolute;
          left: 0;
          top: 20%;
          background-size: contain;
          mix-blend-mode: lighten;
          transform: rotate(30.25deg);
          height: 600px;
          width: 600px;
        }
        &_text{
          position: absolute;
          top: 30%;
          right: 0;
          width: 30%;
          font-family: 'Noto Sans';
          text-align: right;
          display: flex;
          flex-direction: column;

          span{
            font-weight: bold;
            font-size: 4rem;
            line-height: 5.5rem;
            letter-spacing: .2rem;
          }
          p{
            font-size: 1.8rem;
            line-height: 2rem;
          }
        }
      }
    }
  }
  
}


.flash{
  position: fixed;
  background: #ffffff;
  color: #333333;
  width: 100%;
  text-align: center;
  animation: fadeOut;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}