@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@-webkit-keyframes blinker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blinker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/***** FONTS *****/
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 400;
}

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Bold");
  font-weight: bold;
}

html {
  color: #ffffff;
  word-wrap: break-word;
  font-size: 62.5%;
}

html body {
  font-size: 1.6rem;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Yu Gothic", YuGothic, sans-serif;
}

/***** /FONTS *****/
.hidden {
  display: none;
  opacity: 0;
}

.fadeout {
  -webkit-transition: opacity 1.5s 2s;
  transition: opacity 1.5s 2s;
  opacity: 0;
}

.fadein {
  -webkit-animation: fadeIn 1s forwards;
          animation: fadeIn 1s forwards;
}

body {
  min-height: 100%;
  background: #111111;
}

.main_page {
  width: 100%;
}

.wrapper {
  width: 100%;
}

.wrapper header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #111111;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  color: #ffffff;
  top: 0;
  left: 0;
  position: fixed;
}

@media print, screen and (min-width: 769px) {
  .wrapper header {
    padding: 10px 5%;
  }
}

.wrapper header .header_logo {
  fill: #ffffff;
}

@media print, screen and (min-width: 769px) {
  .wrapper header .header_logo {
    height: 100px;
    width: 212px;
  }
}

@media print, screen and (max-width: 768px) {
  .wrapper header .header_logo {
    height: 70px;
    width: 150px;
    -webkit-transform: translateX(-45px);
            transform: translateX(-45px);
  }
  .wrapper header .header_logo path.guitar {
    display: none;
  }
}

.wrapper header nav {
  margin-left: auto;
  -webkit-animation: fadeIn 1s;
          animation: fadeIn 1s;
}

.wrapper header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.wrapper header nav ul li:nth-child(1) {
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
}

.wrapper header nav ul li:nth-child(2) {
  -webkit-transform: rotate(8deg);
          transform: rotate(8deg);
}

.wrapper header nav ul li:nth-child(3) {
  -webkit-transform: rotate(-6deg);
          transform: rotate(-6deg);
}

.wrapper header nav ul li:nth-child(4) {
  -webkit-transform: rotate(3deg);
          transform: rotate(3deg);
}

.wrapper header nav ul li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-animation: blinker 1s ease-out;
          animation: blinker 1s ease-out;
  -webkit-transition: .5s all;
  transition: .5s all;
  cursor: pointer;
}

.wrapper header nav ul li:not(:last-child) {
  margin-right: 50px;
}

@media print, screen and (min-width: 769px) {
  .wrapper header nav ul li svg {
    height: 25px;
  }
}

@media print, screen and (max-width: 768px) {
  .wrapper header nav ul li svg {
    height: 25px;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  .wrapper header nav ul li:not(:last-child) {
    margin-right: 10px;
  }
}

.wrapper footer {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background-color: #111111;
  position: fixed;
  bottom: 0;
}

.wrapper footer p {
  color: #ffffff;
  font-size: 12px;
}

.wrapper footer i {
  margin: 0 10px 10px;
  font-size: 30px;
  color: #ffffff;
  font-weight: 900;
}

.wrapper main {
  text-align: center;
  color: #ffffff;
  background-color: #111111;
}

.wrapper main .slides .slide-1 {
  height: 100vh;
  margin: 0 auto;
  position: relative;
}

@media print, screen and (min-width: 769px) {
  .wrapper main .slides .slide-1 {
    width: 80%;
  }
}

@media print, screen and (max-width: 768px) {
  .wrapper main .slides .slide-1 {
    width: 100%;
  }
}

.wrapper main .slides .slide-1 img {
  position: absolute;
  left: -10%;
  top: 20%;
  background-size: contain;
  mix-blend-mode: lighten;
  -webkit-transform: rotate(30.25deg);
          transform: rotate(30.25deg);
}

.wrapper main .slides .slide-1_text {
  position: absolute;
  top: 30%;
  right: 0;
  font-family: 'Noto Sans';
}

.wrapper main .slides .slide-1_text span {
  font-weight: bold;
  font-size: 4rem;
  line-height: 5.5rem;
}

.flash {
  position: fixed;
  background: #ffffff;
  color: #333333;
  width: 100%;
  text-align: center;
  -webkit-animation: fadeOut;
          animation: fadeOut;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
/*# sourceMappingURL=main.css.map */